<div class="container content">
    <div class="row">
        <div class="col-md-6">
            Hola
        </div>
        <div class="col-md-6">
            Mundo
        </div>
        <div class="col-md-6">
            Cruel
        </div>
        <div class="col-md-6">
            Esto
        </div>
        <div class="col-md-6">
            Es
        </div>
        <div class="col-md-6">Una</div>
        <div class="col-md-6">Maldita</div>
        <div class="col-md-6">Prueba</div>
        <div class="col-md-6">NO </div>
        <div class="col-md-6">Se</div>
        <div class="col-md-6">alteren</div>
        <div class="col-md-6">Muchachos</div>
    </div>
</div>