
<div class="card-content">
    <div class="card-img">
        <img id="destinoimg" src="{{ destino.imagenUrl }}" alt="">
        <span><h4>{{ posicion }}</h4></span>
    </div>
    <div class="card-desc">
        <h3>{{ destino.nombre }}</h3>
        <h6>Services: </h6>
        <ul>
            <li *ngFor='let s of destino.servicios'>
                <span [ngSwitch]="s">
                    <i *ngSwitchCase="'Desayuno'" style="color:red">{{s}}</i>
                    <i *ngSwitchDefault>{{s}}</i>
                </span>
            </li>
        </ul>
        <a href="#" class="btn-card" (click)="ir()">Go!</a>
        
        <a [routerLink]="['/destino']" class="btn-card">Details</a>
        <span *ngIf="destino.isSelected()" style="color:green" >--FAVORITE-- </span>
    </div>
    
</div>
